@charset "UTF-8";

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

:root{
   --cor0:#109153;
   --cor1: #24db83;
   --cor2: #4FFFAA;
   --cor3: #0a5531;
   --fonte0: 'Alexandria', sans-serif;
   --fonte1: Arial, Helvetica, sans-serif;   
}


/*BODY*/

body{
   background-color: hsl(54, 100%, 92%) ;
   margin: 0;
}

body p{
   text-indent: 5px;
}


/*HEADER*/

header{
   background-image: linear-gradient(to bottom, var(--cor0), var(--cor3));
   color: white;
   padding: 20px 20px 15px;
}
header h1{
   font-family: var(--fonte0);
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.521);
   margin: 0 0;
}

header p{
   font-family: var(--fonte0);
   font-weight: 300;
   text-align: center;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.521);
   margin-top: 5px;
   margin-bottom: 15px;

}

header .menu{
   font-family: var(--fonte0);
   font-size: 14px;
   text-transform: uppercase;
   padding-top: 20px;
}

header .menu a{
   color: white;
   text-decoration: none;
   padding: 10px;
   padding-bottom: 15px;
   transition-duration: 0.3s;
}

header a:hover{
   background-color: var(--cor0);
   border-top-right-radius: 5px;
   border-top-left-radius: 5px;
}


/*MAIN*/

main{
   background-color: white;
   max-width: 1000px;
   min-width: 300px;
   margin: auto;
   margin-bottom: 30px;
   padding: 20px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.377);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

.section1 h1{
   font-family: 'Alexandria', sans-serif;
   color: var(--cor3);
   font-weight: 600;
   font-size: 1.8em;
   margin-bottom: 15px;
   padding-top: 20px;
}

main h2{
   font-family: 'Alexandria', sans-serif;
   color: var(--cor3);
   background-image: linear-gradient(to right, var(--cor1), transparent);
   font-weight: 600;
   margin-top: 30px;
   margin-bottom: 15px;
   text-indent: 5px;
}

main p{
   font-family: var(--fonte1);
   line-height: 1.7em;
   text-align: justify;
   text-indent: 20px;
   font-size: 1em;  
}

main strong{
   color: var(--cor3);
}

main img{
   width: 100%;
   border-radius: 5px;
   margin: 10px 0px;
}

main img.pequena{
   display: block;
   margin: auto;
   max-width: 350px;
   border-radius: 5px;
}

main a{
   background-color: var(--cor1);
   color:var(--cor3);
   text-decoration: none;
   border-radius: 5px;
   font-weight: 600;
   padding: 5px;
}

main a:hover{
   text-decoration: underline;
}

main a:after{
   content: "\1F517";
}

div.video{
   background-color: var(--cor3);
   margin: 0px -20px 30px -20px;
   padding: 20px;
   padding-bottom: 58.5%;
   position: relative;
}

div.video iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}


/*ASIDE*/

aside{
   background-color: #54eca3;
   border-radius: 5px;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
}

aside h3{
   font-family:'Alexandria', sans-serif;
   color: white;
   background-color: var(--cor3);
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   padding: 10px;
}

aside p{
   padding: 10px;
}

aside ul {
   list-style-type: "\2714\00a0\00a0";
   list-style-position: inside;
   columns: 2;
   padding: 10px;
}


#paragrafo-final{
   padding: 10px;
}



/*FOOTER*/

footer{
   font-family: var(--fonte1);
   font-weight: normal;
   background-color: var(--cor3);
   color: white;
}
 
footer p{
   text-align: center;
   padding: 10px;

 }

 footer a{
   color: white;
   text-decoration: none;
   font-weight: 600;
}

footer a:hover{
   text-decoration: underline;
}